.card > h1 {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(222, 49, 99, 1);
  //  rgba(84, 153, 199);
  font-weight: 500;
  margin-bottom: 20px !important;
}

.content {
  display: flex;
}

.image {
  margin-right: 10px !important;
}

.image > img {
  width: 250px;
  //   box-shadow: 3px 1px 10px black;
  border: 3px solid black;
}

.info {
  margin-left: 5px;
}

.info p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
